<div class="navbar-fixed">
	<nav>
	  <div class="nav-wrapper teal ">
	    <a href="#" class="brand-logo">SuperBestNodeShop</a>
	
	    <ul id="nav-mobile" class="right hide-on-med-and-down">
	      <li><a href="/">Home</a></li>
	      <li><a href="/goods">Goods</a></li>
	      <li><a href="/add">Add goods</a></li>
	      <li><a href="/cart">🛒 {{ totalCount }}</a></li>

	    </ul>
	  </div>
	</nav>
</div>