<h1>Add new goods</h1>

<form action="/add" method="POST">
  <div class="input-field">
    <input id="title" name="title" type="text" class="validate" required>
    <label for="title">Title</label>
    <span class="helper-text" data-error="Requred"></span>
  </div>

  <div class="input-field">
    <input id="price" name="price" type="number" class="validate" required min="1">
    <label for="price">Price</label>
    <span class="helper-text" data-error="Requred"></span>
  </div>

  <div class="input-field">
    <input id="img" name="image" type="text" class="validate" required>
    <label for="img">Image url</label>
    <span class="helper-text" data-error="Requred"></span>
  </div>

  <button class="btn btn-primary">Submit</button>
</form>